body {
    background:#222222;
    padding:0;
    margin:0;
    font-weight: bold;
    overflow:hidden;
}

h1,h2,h3,h4 {
    color: white;
    text-align: center;
}

#info {
    /* position: absolute; */
    top: 0px; width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family:Monospace;
    font-size:13px;
    text-align:center;
    z-index:1000;
}

#webglcanvas {
    border: none;
    background-color:#000000;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a {
    color: #00ffff;
}
